<h1 id="todos-heading">My TODO list</h1>

<p *ngIf="!todoService.todoList.length">
  <i>Hurray! You have nothing to do.</i>
</p>

<ul aria-labelledby="todos-heading">
  <li *ngFor="let todoItem of todoService.todoList; index as i">
    <input
      [id]="'task' + i"
      type="checkbox"
      [checked]="todoItem.done"
      (change)="todoService.toggle(i, $any($event.target).checked)"
    />

    <label [attr.for]="'task' + i">{{ todoItem.title }}</label>

    <button
      type="button"
      [attr.aria-label]="'Remove ' + todoItem.title"
      (click)="todoService.remove(i)"
    >
      X
    </button>
  </li>
</ul>

<form #form="ngForm" [noValidate]="false">
  <input
    #taskInputRef
    type="text"
    name="newTask"
    ngModel
    placeholder="E.g. buy some milk"
    aria-label="Write a new todo item"
    autocomplete="off"
  />
  <button type="button" (click)="onSubmit(form)">Add</button>
</form>
