<h1 id="todos-heading">My TODO list</h1>

<p *ngIf="!todoList.length">
  <i>Hurray! You have nothing to do.</i>
</p>

<ul aria-labelledby="todos-heading">
  <li *ngFor="let todoItem of todoList; index as i">
    <input
      [id]="'task' + i"
      type="checkbox"
      [checked]="todoItem.done"
      (change)="toggle(i, $any($event.target).checked)"
    />

    <label [attr.for]="'task' + i">{{ todoItem.title }}</label>

    <button
      type="button"
      [attr.aria-label]="'Remove ' + todoItem.title"
      (click)="remove(i)"
    >
      X
    </button>
  </li>
</ul>

<form #form="ngForm" (ngSubmit)="add(form)" [noValidate]="false">
  <input
    #newTaskInputRef
    type="text"
    name="newTask"
    [(ngModel)]="newTask"
    placeholder="E.g. buy some milk"
    aria-label="Write a new todo item"
    autocomplete="off"
    required
  />
  <button type="submit">Add</button>
</form>
